{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block content %}
<form class="login_form" action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    <p></p>
    {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    <p></p>
    {{ form.price.label }}<br>
        {{ form.price(class="form-control") }}<br>
        {% for error in form.price.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    <p></p>
    {{ form.contacts.label }}<br>
        {{ form.contacts(class="form-control") }}<br>
        {% for error in form.contacts.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    <p></p>
    {{ form.address.label }}<br>
        {{ form.address(class="form-control") }}<br>
        {% for error in form.address.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    <p></p>
    <div class="form-group">
            <label for="photo">Приложите фотографию</label>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
    <p></p>
    {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}<br>
        {% for error in form.category.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-info") }}</p>
    {{ message }}
</form>
{% endblock %}